<!--<div class="container white-box">-->
  <!--<div class="col-12">-->
    <!--<div class="col-3"></div>-->
    <!--<div class="col-6">-->
 <!--<form action="#">-->
    <!--<label class="contactus">Contact us !</label>-->
    <!--<div class="row from-detail mt-5" >-->
    <!--<div class="col-6">-->
      <!--<input type="text" id="fname" name="firstname" placeholder="Your name..">-->
    <!--</div>-->
    <!--<div class="col-6">-->
      <!--<input type="text" id="fadress" name="adress" placeholder="Your adress mail..">-->
    <!--</div>-->
  <!--</div>-->
    <!--<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>-->
  <!--&lt;!&ndash;<input  id="fsubmit" type="submit" value="Submit">&ndash;&gt;-->
  <!--<button class="btn btn-primary btn-primary-detail mb-5" type="submit">Submit</button>-->
  <!--</form>-->
    <!--</div>-->
    <!--<div class="col-3"></div>-->
<!--</div>-->
<!--</div>-->

<body class="bg-dark">
<div class="container mb-5 mt-5">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Contact us!</div>
    <div class="card-body">
      <form>
          <div class="col-md-12 form-group">
          <!--<label for="exampleInputName">First Name</label>-->
          <input class="form-control" id="exampleInputName" type="text" placeholder="Enter name">
        </div>
        <div class="col-md-12 form-group">
          <!--<label for="exampleInputEmail1">Email address</label>-->
          <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="col-md-12 form-group">
          <!--<label for="exampleInputEmail1">Subject</label>-->
          <textarea id="subjectContact" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        </div>
        <button class="btn btn-primary btn-primary-detail mb-5" type="submit">Submit</button>      </form>
    </div>
  </div>
</div>
</body>
