<!--Feedback-->
<div class="container-feedback">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 text-center">
        <h3 class="text-deco">People are</h3>
        <h2 class="sectiontitle">LOVING IT</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-12 col-md-6">
        <div id="feeback" class="owl-carousel">
          <!-- Quote 1 -->
          <div class="item m-2">
            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-circle"
                     src="https://f.i.uol.com.br/fotografia/2016/03/11/594618-970x600-1.jpeg">
              </div>
              <div class="col-sm-9">
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                  velit!</p>
                <h3 class="famous">Nada Gazzeh</h3>
                <div class="col-md-6">
                  <div class="rating feedback">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Quote 2 -->
          <div class="item m-2">

            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-circle"
                     src="https://f.i.uol.com.br/fotografia/2016/03/11/594617-970x600-1.jpeg"
                     alt="Card image cap">
              </div>
              <div class="col-sm-9">
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                  velit!</p>
                <h3 class="famous">Dorra Toumi</h3>
                <div class="col-md-6">
                  <div class="rating feedback">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Quote 3 -->
          <div class="item m-2">
            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-circle"
                     src="https://f.i.uol.com.br/fotografia/2016/03/11/594615-970x600-1.jpeg"
                     alt="Card image cap">
              </div>
              <div class="col-sm-9">
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                  velit!</p>
                <h3 class="famous">Salem Gazzeh</h3>
                <div class="col-md-6">
                  <div class="rating feedback">
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Quote 4 -->
          <div class="item m-2">
            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-circle"
                     src="https://f.i.uol.com.br/fotografia/2016/03/11/594619-970x600-1.jpeg">
              </div>
              <div class="col-sm-9">
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                  velit!</p>
                <h3 class="famous">Ed Sheeran</h3>

                <div class="col-md-6">
                  <div class="rating feedback">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
<!--End feedback-->

