<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row flexbox category-highlight">

      <div class="col-lg-6 col-md-6 col-xs-12 jumbotron-block">
        <div class=" bg-img parking" style="background-image: url(https://picsum.photos/g/700/550);">
          <p class="category-text">Parking</p>
          <a href="#" class="category-count">
            text
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-md-6 col-xs-12">
            <div class="bg-img outdoor"
                 style="background-image: url(https://picsum.photos/450/300); height: 300px;">
              <p class="category-text">outdoor</p>
              <a href="#" class="category-count">
                text2
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="bg-img shop"
                 style="background: url(https://picsum.photos/300/300/?image=340); height: 300px;">
              <p class="category-text">shop & store</p>
              <a href="#" class="category-count">
                text3
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="bg-img hotel"
                 style="background: url(https://picsum.photos/300/300/); height: 300px;">
              <p class="category-text">Hotel</p>
              <a href="#" class="category-count">
                text4
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <label [routerLink]="['listing']" class="pt-4 pl-4 seeMore">See More</label>
  </div>
</div>

