<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!--<agm-map [latitude]="lat" [longitude]="lng">-->
<!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--</agm-map>-->
