.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
/*.ng-valid[required], .ng-valid.required  {*/
  /*border-left: 5px solid #42A948; !* green *!*/
/*}*/

/*.ng-invalid:not(form)  {*/
  /*border-left: 5px solid #a94442; !* red *!*/
/*}*/
