<div class="col-md-12 add-listing-img">
  <div class="row">
    <div class="container">
      <div class="title-add-listing">
        <div class="col-sm-12 title-add-listing">
        Post a listing
        </div>
        </div>
      <div class="homee">
        <a href="index.html" class="home">Home</a>

        <span class="gt3_breadcrumb_divider"></span>
        <span class="current">Post a Listing</span>
      </div>
    </div>
  </div>
</div>
<!-- content -->
<div class="col-md-12">
  <div class="row">
  <div class="container mt-3">
    <form (ngSubmit)="onSubmit()" #addListingForm="ngForm">
    <div class="row form-group">
        <div class="col-md-4">
          <label for="name">Name</label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="Your name..." id="name" [(ngModel)]="model.name" name="name" Validators.required>
        </div>
    </div> <!--name-->
    <div class="row form-group">
      <div class="col-md-4">
        <label>TagLine</label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" placeholder="ex.this coffee is small but bustling..." id="tagline" [(ngModel)]="model.tagline" name="tagline" required>
      </div>
    </div> <!--TagLine-->
    <div class="row form-group">
      <div class="col-md-4">
        <label>Description</label>
      </div>
      <div class="col-md-8">
        <textarea ng-model="myTextarea" class="" id="description" [(ngModel)]= 'model.description' name="description" placeholder="write something."></textarea>
      </div>
    </div> <!-- description-->
    <div class="row form-group">
      <div class="col-md-4">
        <label>Category</label>
      </div>
      <div class="col-md-8">
      <select class="form-control" id="category" name="category" [(ngModel)] = 'model.category'>
        <option>Food</option>
        <option>Coffee</option>
        <option>Event</option>
        <option>Leisure</option>
        <option>Shopping</option>
      </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label for="address">Address</label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" placeholder="Address..." id="address" [(ngModel)]="model.address" name="address" disabled required>
      </div>
    </div>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14" style="height: 300px; width: 300px">
        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"  (dragEnd)="markerDragEnd($event)"></agm-marker>
      </agm-map>
      <!--Address-->
    <div class="row form-group">
      <div class="col-md-4">
        <label for="address">Telephone Number</label>
      </div>
      <div class="col-md-8">
        <input type="tel" class="form-control" placeholder="Telephone..." id="telephone" [(ngModel)]="model.telephone" name="telephone" required>
      </div>
    </div> <!--Telephone-->

    <div class="row form-group">
      <div class="col-md-4">
        <label>Image</label>
      </div>
      <div class="col-md-8">
        <label class="btn btn-default">
          <input type="file" name="cover" id="cover" multiple (change)="selectFileImage($event)">
        </label>
      </div>
    </div> <!--image-->
    <div class="row form-group">
      <div class="col-md-4">
        <label>Cover</label>
      </div>
      <div class="col-md-8">
        <label class="btn btn-default">
          <input type="file" name="cover" id="cover2" (change)="selectFileCover($event)">
        </label>
      </div>
    </div> <!--cover-->

    <div *ngIf="imageFileUpload" class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped"
           role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
           aria-valuemin="0" aria-valuemax="100"
           [ngStyle]="{width:progress.percentage+'%'}">
        <!--{{progress.percentage}}-->
      </div>
    </div>
    <button type="submit" class="btn btn-success" (click)="saveBonPlan()">Submit</button>
    <button type="button" class="btn btn-default" (click)="resetBonPlan(); addListingForm.reset()">Reset</button>
  </form>
</div>
  </div>
</div>
<!-- end content -->


