<body class="bg-dark">
<div class="container mb-5">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Reset Password</div>
    <div class="card-body">
      <div class="text-center mt-4 mb-5">
        <h4>Forgot your password?</h4>
        <p>Enter your email address and we will send you instructions on how to reset your password.</p>
      </div>
      <form>
        <div class="form-group">
          <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email address"
                 name="email" [(ngModel)]="email">
        </div>
        <a class="btn btn-primary btn-block" (click)="resetPassword()">Reset Password</a>
      </form>
      <br><span>{{errorMessage}}</span><br>
      <div class="text-center">
        <a class="d-block small mt-3" routerLink="/register">Register an Account</a>
        <a class="d-block small" routerLink="/login">Login Page</a>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
