
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4 main_footer fadeOnLoad clearfix jumbotron">

  <!--Footer Links-->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!--First column-->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <!--/.First column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <p><a href="#!">MDBootstrap</a></p>
        <p><a href="#!">MDWordPress</a></p>
        <p><a href="#!">BrandFlow</a></p>
        <p><a href="#!">Bootstrap Angular</a></p>
      </div>
      <!--/.Second column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p><a href="#!">Your Account</a></p>
        <p><a href="#!">Become an Affiliate</a></p>
        <p><a href="#!">Shipping Rates</a></p>
        <p><a href="#!">Help</a></p>
      </div>
      <!--/.Third column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
        <p><i class="fa fa-envelope mr-3"></i> info@gmail.com</p>
        <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
        <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
        <!--<button class="btn-outline-light">Contact us</button>-->
        <a routerLink="/contact" class="btn-outline-danger">
          <i class="fas fa-home"></i>
          Contact us
        </a>
      </div>
      <!--/.Fourth column-->

    </div>
    <!-- Footer links -->

    <hr>

    <div class="row py-3 d-flex align-items-center">

      <!--Grid column-->
      <div class="col-md-8 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left grey-text">© 2018 Copyright
        <!--/.Copyright-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 col-lg-4 ml-lg-0">

        <!--Social buttons-->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-facebook-square"></i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-twitter-square"></i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-google"></i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
        <!--/.Social buttons-->

      </div>
      <!--Grid column-->

    </div>

  </div>

</footer>


