<!--Carousel-->
<div class="container-fluid">
  <h1 class="text-center mb-3">Popular listings</h1>
  <div id="myCarousel" class="owl-carousel">
    <div *ngFor="let bonPlan of bonPlans | async" class="item ">
      <div class="card">
        <img class="card-img-top img-fluid taille-img-carousel"
             src="{{bonPlan.coverUrl}}" alt="Card image cap">
        <div class="card_labels">
          <!--<span class="card_featured btn btn-primary">featured</span>-->
        </div>
        <div class="card-body taille-card-carousel">
          <h4 class="card-title">{{bonPlan.name}}</h4>
          <p class="card-text">{{bonPlan.description}}</p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="col-md-12">
            <p class="card-text">
              <i class="fas fa-map-marker-alt">{{bonPlan.address}}</i>
            </p>
            <button type="button" class="btn btn-light" [routerLink]="['/detail', bonPlan.$key]">
              <i class="fas fa-info-circle"></i>

              Detail

            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
<!--EndCarousel-->
