/*************Nav Bar**************/
/*@media only screen and (max-width: 768px) {*/
  /*!* For mobile phones: *!*/
  /*[class*="col-"] {*/
    /*width: 100%;*/
  /*}*/
/*}*/
@media screen and (max-width: 600px) {
  .container-fluid {

    float: none;
    width: 100%;
    height: 10%;

  }
}

@media (min-width: 768px){
.container{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 60%;
}}
.fa-chevron-circle-right:before {
   content: url("");
}
.navbar .nav-link {
    color: #0f0f0f;
}

.title-bon-plan{
    color: rgba(40, 42, 49, 0.58);
    padding-top: 0.1em;
    cursor: pointer;
}
.title-bon-plan:hover{

}
.navbar-light .navbar-nav .nav-link:hover,
.navbar .nav-link:hover, .dropdown-item:hover {
    color: #17a2b8;
}

.dropdown-item:hover {
    background: rgba(19, 94, 250, 0.26);

}
.fa-user {
    font-weight: 900;
    padding: 1em;
}

.main-title {
    color: white;
}

.bg-light {
    background: transparent;
}


.slider.masthead.text-white.text-center, masthead.mb-auto.cover-container {
    background-image: url(../img/home_01.jpg);
    vertical-align: top;
    background-size: cover;
    background-position: inherit;
    padding: 5em 0;;


}
.main_footer.jumbotron {
    background: transparent;

}
.slider.masthead.text-white.text-center.jumbotron {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 1px;
}

.row.container {
    margin: auto;
    float: none;
}

.container.jumbotron {
    background-color: transparent;
    /*margin-bottom: 2rem;*/
}

.jumbotron {
    margin-bottom: 0rem !important;
     padding: 1rem 0rem !important;
}

.align-left {
    text-align: left;
}

.main_footer.widget-title {
    font-size: 1.125em;
    line-height: inherit;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 16px;
    /*font-weight: 100;*/
}

.top_footer {
    color: #9fa6ae;
}

p {
    margin: 0 0 16px 0;
    padding: 0;
}

@media all {
    body {
        font-family: 'Open Sans', sans-serif;
        background: #ebe8e8;
    }
}

.main_footer.fadeOnLoad.clearfix {
    background-color: #1f1f1f;
}

.container.row {
    padding-top: 60px;
    padding-bottom: 30px;
}

.copyright {
    background-color: #1f1f1f;
    border-top: 1px solid rgba(50, 50, 50, 1);
}

.copyright.container.row {
    padding-top: 14px;
    padding-bottom: 14px;
}

.row.span3 {
    width: 25%;
}

.widget-title, h3 {
    font-family: Work Sans;
    margin-top: -3px;
    letter-spacing: -0.4px;
}

.widget-title {
    font-size: 1.125em;
    line-height: inherit;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 16px;
    font-weight: 600;
}

.btn-search-location {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;

}

.food.simpleChiclet {
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    display: inline-block;
    /* min-width: 60px;*/
    padding: 40px 10px 7px;
    width: 175.666667%;
}

body {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #8995a2;
}

.wrapper_404 .number_404 {
    font-size: 200px;
    line-height: 150px;
    font-weight: 300;
    margin-bottom: 32px;
}


footer#footer {
    border-radius: 0;
}

.categories {
    list-style: none;
    margin: 0;

}

.simpleCategory {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  min-width: 60px;
  padding: 8px 10px -2px;
  color: #fff;

}

.simpleCategory a {
    display: block;

    padding: 10px;
}

.simpleCategory span {
    display: block;
    font-size: 14px;
}

.simpleCategory:hover a {
  color: white;
  text-decoration: none;
}

.simpleCategory:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.simpleCategory:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.simpleCategoryActive {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  min-width: 60px;
  padding: 8px 10px -2px;
  color: #fff;

}

.simpleCategoryActive a {
  display: block;

  padding: 10px;
}

.simpleCategoryActive:hover a {
  color: white;
  text-decoration: none;
}

.simpleCategoryActive span {
  display: block;
  font-size: 14px;
}

.simpleCategoryActive:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.simpleCategoryActive:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.container .flexbox {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    /*background: #2e2122;*/
    padding: 10px;
}

/* clip content img*/
.row.flexbox.category-highlight .col-6 {
    overflow: hidden;

}

.category-text {
    position: absolute;
    left: 30px;
    top: 50%;
    right: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 11px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1em;
}

.category-count {
    background: #3ed376;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 65%;
    right: 30px;
    text-align: center;
    text-decoration: none !important;
    width: 100px;
    margin: auto;
}

#toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;

}

.category-count:hover a {
    color: white !important;
}

.bg-img {
    height: 100%;
    border-radius: 4px;
    margin-top: 18px;
    transform: scale(1.01);

}

.bg-img .a {
    color: #65c730 !important;
    font-size: large;

}

/*Zoom Out & opacity*/
.bg-img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .8;
}

/*.flexbox .container:first-child{
    margin-right: 20px;
}*/
.row .span4 {
    width: 33.33333333333333%;
}

div .col-lg .col-4 .align-center {
    text-align: center;
    padding-right: 18px;
    font-size: 17px;

}

div .fa-facebook-square {
    padding-right: 18px;
    font-size: 17px;
}

div .fa-instagram {
    padding-right: 18px;
    font-size: 17px;
}

div .fa-twitter {
    padding-right: 18px;
    font-size: 17px;
}

div .fa-youtube {
    padding-right: 18px;
    font-size: 17px;
}

/* ResetPwd */
.form-gap {
    padding-top: 70px;
}

.copyright {
    font-family: Work Sans;
    font-size: 12px;
    background-color: #1f1f1f;
    border-top: 1px solid rgba(50, 50, 50, 1);
    padding-top: 14px;
    padding-bottom: 14px;
}

/**********carousel************/
.owl-prev {
    position: absolute;
    top: calc(50% - 20px);
    width: 50px;
    height: 20px;
    text-align: center;
    color: black;

}
.owl-next{
    position: absolute;
    top: calc(50% - 20px);
    width: 50px;
    height: 20px;
    text-align: center;
    color: black;
}

.card_labels {
    position: absolute;
    left: 19px;
    top: 19px;
    right: 19px;
    z-index: 10;
}
.taille-img{
  width: 800px;
  height: 450px;
}
.taille-img-carousel{
  width: 500px;
  height: 333px;
}
.taille-card-carousel{
  height: 220px;
}
/**********end carousel************/

/************ btn *******/

/*.btn-primary, .btn-danger {
    height: 2.3em;
    width: 10em;
    cursor: zoom-in;
!important;

}*/
.card_author_box_avatar {
    position: absolute;
    left: 20px;
    bottom: -22px;
    width: 55px;
    height: 55px;
    z-index: 55;
    border: 3px #fff solid;
    background-size: cover;
    border-radius: 50%;
    cursor: default;
    background-color: #fff;
}

/*********** addresse********************/
.location {
    padding: 2em;
    font-size: 12px;
}

.fa-map-marker-alt:before {
    color: #3a73ff;
    /*padding: .5em;*/
}

.btn-light {
    border-radius: 10em;
    background-color: transparent;
!important;
    border-color: #c4cad0;

}

.btn-light:hover {
    border-color: #fea3a8;
    color: #fd4851;
    background-color: transparent;
!important;
}
/*********** End Adresse********************/

/***************Feedback*******************/
h3 .text-deco {
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 3em;
}

h2.sectiontitle {
    color: #e67e22;
    font-size: 3em;
    font-family: Montserrat, lato, arial;
    padding-bottom: 10px;
    padding-top: 1em;
    font-weight: 700;
    align-items: center;

}
h3.famous{
    font-size:25px;
}

.container h2 {
   /* margin: 0;*/
    padding: 0;
}

#feeback{
    /*transition: 2s;*/
    margin-bottom: 5em;
    background-color: white;
    border-color:red;
    box-shadow: 10px 10px 30px rgba(255, 211, 94, 0.51); /*blur effect*/


}

.owl-controls .owl-pagination {
    position: absolute;
    bottom: 0;
    right: 5px;
    margin-top: 10px;
    text-align: center;
    padding-left: 25px;
}
div.feedback{
    font-size: 12px;
}
#feeback .owl-dots {
    position: absolute;
    right: 10px;
    bottom: 0px;
}

#feeback .owl-dots .owl-dot {
    bottom: 0;
    right: 5px;
    height: 10px;
    width: 10px;
    background: #cccccc;
    border: 1px solid #cccccc;
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
}
#feeback .owl-dots .owl-dot.active{
    background: #e67e22;
    border: 1px solid #e67e22;

}
.feedback{
    color: #e67e22;
}

.container-feedback {
    width: 100%;
    padding-right: 15px;
    padding-top: 50px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/****************end feedback******************/

/***********SignIn*************/
@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- https://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

/*body {*/
  /*background: #f4f4f4;*/
  /*color: #5a5656;*/
  /*font: 100%/1.5em 'Open Sans', sans-serif;*/
  /*margin: 0;*/
/*}*/

/*a { text-decoration: none; }*/
/*._ngcontent-c4{*/
  /*font-size: 1em;*/

/*}*/
/***homePage****/
/*@media (min-width: 768px) {*/
  /*.fa-utensils {*/
    /*width: 50%;*/
    /*!*-webkit-order: 1;*!*/
    /*order: 1;*/
  /*}*/
  /*.fa-coffee{*/
    /*width: 50%;*/
    /*!*-webkit-order: 2;*!*/
    /*order: 2;*/
  /*}*/
  /*.fa-glass-martini{*/
    /*width: 50%;*/
    /*!*-webkit-order: 3;*!*/
    /*order: 3;*/
  /*}*/
  /*.fa-heart{*/
    /*width: 50%;*/
    /*order: 4;*/
  /*}*/
/*}*/

/*h1 { font-size: 1em; }*/

h1, p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.uppercase { text-transform: uppercase; }

/* ---------- LOGIN ---------- */

#login {
  margin: 50px auto;
  width: 300px;
}

form fieldset input[type="text"], input[type="password"] {
  /*background: #e5e5e5;*/
  /*border: none;*/
  border-radius: 3px;
  color: #5a5656;
  font-family: inherit;
  font-size: 14px;
  height: 50px;
  outline: none;
  padding: 0px 10px;
  -webkit-appearance:none;
}

form fieldset input[type="submit"] {
  background-color: #008dde;
  border: none;
  border-radius: 3px;
  color: #f4f4f4;
  cursor: pointer;
  font-family: inherit;
  height: 50px;
  text-transform: uppercase;
  width: 300px;
  -webkit-appearance:none;
}

form fieldset a {
  color: #5a5656;
  font-size: 10px;
}

form fieldset a:hover { text-decoration: underline; }

.btn-round {
  background: #5a5656;
  border-radius: 50%;
  color: #f4f4f4;
  display: block;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  margin: 30px 125px;
  text-align: center;
  text-transform: uppercase;
  width: 50px;
}

.facebook-before {
  background: #0064ab;
  border-radius: 3px 0px 0px 3px;
  color: #f4f4f4;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

.facebook {
  background: #0079ce;
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: #f4f4f4;
  cursor: pointer;
  height: 50px;
  text-transform: uppercase;
  width: 250px;
}

.twitter-before {
  background: #189bcb;
  border-radius: 3px 0px 0px 3px;
  color: #f4f4f4;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}


.twitter {
  background: #1bb2e9;
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: #f4f4f4;
  cursor: pointer;
  height: 50px;
  text-transform: uppercase;
  width: 250px;
}
/**************End SignIn****************/

/**************not found page****************/


.error-template {
    padding: 40px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}
.number-404{
    color: #2dabae;
    font-size: 200px;
}
.oops{
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-align: center;
}
.top_footer {

    margin-bottom: 30px;
    font-size: 16px;!important;
    /*font-weight: 200;*/
    line-height: 2.1428571435;
    color: inherit;

}
.page-footer{
  border-radius: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px !important;
   margin-left: 0px !important;
}
/**************end not found page****************/

/*************page detail******************/

.slider-detail{
    background-image: url("../img/food.jpg");
    vertical-align: top;
    background-size: cover;
    background-position: center;
    padding: 5em 0;

}

.label-text-detail{
    font-weight: bold;
    font-size: 50px;
    color: white;
    padding-bottom: 2px;

}
.rating-detail{
    color: #e67e22;
}
.fa-map-marker-detail:before {
    color: #28b8dc;


}
.adr-detail{
   font-size: 12px;
   color: ghostwhite;
}
.fa-phone-detail{
    color: #28b8dc;
}
.fa-envelope-detail{
    color: #28b8dc;
}

#carouselExampleControls{

    display: block;
    background-size: cover;
    background-position: center;
    transition: opacity 500ms;
    border-radius: 2em;
}

.card-detail{
    width: 100%;
    height: 100%;
    padding-bottom: 4em;
    padding-top: 1em;
    padding-left: 1em;
}

.single_job_description {
    background: #ffffff;
    border: #eeeeee 1px solid;
    border-radius: 5px;
    padding: 41px 50px 26px;
    margin-top: 30px;
}

.label-detail {
    font-size: 12px;
}
.white-box{
    border-radius: 7px;
    background-color: white;
    border: #eeeeee 1px solid;
    padding: 10px;

}
dl.row {
    padding: 4px 0 24px 0;
    margin: 0;
}
.listing_post_reviews_title {
    font-weight: 600;
    margin-bottom: 35px;
}
.avatar-review{
    border-radius: 5em;
    height: 57px;
    width: 60px;
}
.comment-detail{
    font-size: 16px;
    color: black;
}
.title-detail{
    color: black;
    font-weight: 600;
}
.post_title{
    font-size: 20px;
    line-height: 30px;
    color: black;
}

/************************************************************/
#fname, #fadress,  #subject{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}



.btn-primary-detail {

        background-color: #28b8dc;
        border-color: #28b8dc;
}


    .btn-light-detail {
        color: white;
        font-weight: bold;
        background-color: #dc3545;
        border-radius: 5em;

    }

    .btn-light-detail:hover {
        transform: scale(1);
        opacity: .8;
    }

.rating-detail{
    /*padding: 0 0 0 4px;*/
}
.card-text-detail{
    color:white;
    font-size: 14px;
}

.card_has_author_info{
    display: table-cell;
    vertical-align: bottom;
    /*padding-bottom: 30px;*/
}


/*************End page detail******************/

/*********************how it work page***********/
.row-fbox{
    background-image: url(https://wplive.site/wp/listingeasy/wp-content/uploads/2017/10/how_it_works1-630x513.jpg);
    min-height: 400px;
    background-repeat: no-repeat;

}
.white-box-works{
    margin-left: -6em;
    padding: 92px 62px;
}

.box-text{
    color: #8995a2;
    font-size: 16px;
    line-height: 30px;
}
.box-icon{
    position: absolute;
    right: 67px;
    top: 29px;
    z-index: 15;
}
.gt3_imagebox_content_number {
    position: absolute;
    left: 51%;
    top: 62%;
    width: 60px;
    height: 60px;
    z-index: 50;
    text-align: center;
    color: #fff;
    line-height: 59px;
    transform: translate(-50%, -50%) scale(1,1);
    -webkit-transform: translate(-50%, -50%) scale(1,1);
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: 600;
    transition: all 300ms;
}
.gt3_imagebox_content_number:hover{
    opacity: .8 ;
}

/*******listing******/
.search_region{
    border-radius: 23px;
    width: 200px;
    height: 50px;
    background-color:#ebe8e8;
    border-color: transparent;
    border: 1px #c4cad0 solid !important;
}
.text-option{
    background-color:white;
    line-height: 22px;
    margin: 5px 0 0 0;
    background: #fff;
    border-radius: 5px;
    border: none;
    overflow: hidden;
}
.filtre{
    background-color: #28b8dc;
    border-color: #28b8dc;
    border-radius: 23px;
    width: 200px;
    height: 50px;
}
.card-image-listing {
  height: 400px !important;
  width: 711px !important;
}
/*****end listing****/

/*******add listing page********/
.add-listing-img{
    background-image:url("../img/addListing.jpg") ;
    vertical-align: top;
    background-size: cover;
    padding: 5em 0;
    background-position: center;

}
.title-add-listing{
    display: table;
    width: 100%;
    color:white;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

/*@media screen and (max-width: 768px) {*/
  /*.title-add-listing {*/

    /*float: none;*/
    /*width: 100%;*/
    /*height: 10%;*/

  /*}*/
/*}*/
.home{
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
    color:white;
    opacity: 0.6;
    text-align: center;
    text-decoration: none;!important;
}
.homee{
    text-align: center;
}
.home:hover{
    transform: scale(1);!important;
    opacity: .8;!important;
    text-decoration: none;
    outline: none !important;
    color: white;
}
.current{
    color: white;
}
.gt3_breadcrumb_divider {
    background-color: #28b8dc;
    width: 4px;
    height: 4px;
    display: inline-block;
    margin: 0 10px 0 8px;
    border-radius: 4px;
}
.sign-in-text{
    color: #28b8dc;
    text-decoration: none;
    cursor: pointer;
}
.raduis-me{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.add-listing-map{
    position: fixed;!important;
    overflow: visible;!important;
}
.add-listing-btn{
    width: 100%;
    height: 48px;
    border: transparent;
    background: white;
}
.add-listing-btn:hover{
    border: transparent;
    background: white;
}
.fa-thumbtack{

}
div#map {
    min-height: 300px;
    height: 100%;
}
.inner-addon {
    position: relative;
}

/* style icon */
.fa-thumbtack {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.fa-thumbtack  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.fa-thumbtack  {
    padding-left:  30px;
}
.fa-thumbtack input {
    padding-right: 30px;
}

/*******About us*********/
.about-us-img{
    background-image: url("https://wplive.site/wp/listingeasy/wp-content/uploads/2017/10/page_title_bg_about.jpg");
    vertical-align: top;
    background-size: cover;
    padding: 5em 0;
    background-position: center;
}
.us-h2 {
    text-align: center;
    font-size: 47px;
    line-height: 55px;
    font-weight: 600;
    color: #334e6f;
    font-family:Work Sans;;
}
.us-h3{
    text-align: center;
    color: #8995a2;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 140%;

}
.card-img-top_about-us{
    max-width: 120px;
    text-align: center;
}
.about-us{
    background-color: #ffffff !important;
}
.card-about-us{
    text-align: center;
}
.card-title-about-us{
    color:#334e6f;!important;
    font-size: 20px;
    line-height: 28px;
}
.us-h2-card{
    text-align: center;
    color: #334e6f;
    font-size: 60px;
    line-height: 70px;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top: 99px;
}
.us-h3-card{
    color: #8995a2;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom:99px;

}
.bg{
    background-color: #f9f9f9 !important;
}
.how-we-work{
    background-color: #f9f9f9 !important;
}
/***********contact us**********************/

.contactus{
  font-size: 24px;
  text-align: center; !important;
  color: #1bb2e9;

}
#subjectContact {
  height: 90px !important;
  width: 100% !important;

}
/**********contact us**********/

a {
  color: white;!important;
  opacity: inherit;
}
a:not([href]):not([tabindex]) {
  color: white;!important;
  text-decoration: none;
}
/********Login******/
.d-block{
  color: rgba(0, 0, 139, 0.69);
}
