<div class="container">
  <div class="row slid-detail pt-4">
    <div class="col-md-9">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img class="d-block w-100" src="https://wplive.site/wp/listingeasy/wp-content/uploads/2017/10/italian_restaurant-1170x760.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="http://www.thefrenchlife.org/wp-content/uploads/2018/02/salad-1170x760.jpg" alt="Second slide">
          </div>
          <div class="carousel-item active">
            <img class="d-block w-100" src="http://www.thefrenchlife.org/wp-content/uploads/2018/03/PIPERADE-1-1170x760.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="white-box mt-4 ">
        <dl class="row">
          <dt class="col-sm-3">Description lists</dt>
          <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

          <dt class="col-sm-3">Euismod</dt>
          <dd class="col-sm-9">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
          <dd class="col-sm-9 offset-sm-3">Donec id elit non mi porta gravida at eget metus.</dd>

          <dt class="col-sm-3">Malesuada porta</dt>
          <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

          <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
          <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.
          </dd>
        </dl>

      </div>
      <div class="review-detail white-box mt-4 mb-4">
        <h4 class="listing_post_reviews_title col-12">1 Reviews</h4>
        <dl class="row">
          <dt class="col-sm-2">
            <img class="avatar-review" src="https://secure.gravatar.com/avatar/def774462576388e9b1472e90943b41d?s=140&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/def774462576388e9b1472e90943b41d?s=280&amp;d=mm&amp;r=g 2x" height="140" width="140">
          </dt>
          <dd class="col-sm-9">Megan Kloud
            <div class="rating feedback">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <label>“Location was comfortable, spacious with a great terrace and view. Very nice services.”</label>
          </dd>

        </dl>
      </div>
      <div class="white-box pt-4 mt-4 mb-4">
        <div class="container reviews">
          <label>Rate & Write Reviews</label>
          <form action="#">
            <div class="row from-detail">
              <div class="col-6">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
              </div>
              <div class="col-6">
                <input type="text" id="fadress" name="adress" placeholder="Your adress mail..">
              </div>
            </div>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            <!--<input  id="fsubmit" type="submit" value="Submit">-->
            <button class="btn btn-primary btn-primary-detail" type="submit">Submit your review</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 white-box mb-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d25882.824411300484!2d10.59713885!3d35.815812650000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stn!4v1520585063301" width="100%"  height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-map-marker-alt fa-map-marker-detail"></i>
          <label class="label-detail">31-11 14th St</label>
        </li>
        <li class="list-group-item">
          <i class="fas fa-phone fa-phone-detail"></i>
          <label class="label-detail">+216 50 505 505</label>
        </li>
        <li class="list-group-item">
          <i class="fas fa-envelope fa-envelope-detail"></i>
          <label class="label-detail">bon-plan@gmail.com</label>
        </li>
        <li class="list-group-item item-detail">
          <i class="fab fa-facebook-square" style="color: blue"></i>
          <i class="fab fa-instagram" style="color: deeppink"></i>
          <i class="fab fa-twitter" style="color: #2dabae"></i>
          <i class="fab fa-youtube" style="color: red"></i>
        </li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item pt-5 pb-5">
          <h3 class="title-detail">Recently Added</h3>
          <div class="widget-subtitle pb-2">You may consider</div>

          <img src="https://wplive.site/wp/listingeasy/wp-content/uploads/2017/10/honey_coffee-620x420.jpg" width="100%" height="200">
          <h4 class="post_title">Honey Coffee</h4>
          <p class="card-text">
            <i class="fas fa-map-marker-alt fa-map-marker-detail"></i>
            31-11 14th St
          </p>
        </li>
        <li class="list-group-item pt-5 pb-5">
          <img src="https://wplive.site/wp/listingeasy/wp-content/uploads/2017/10/listing-620x420.jpg" width="100%" height="200">
          <h4 class="post_title">Moonlight Hotel</h4>
          <p class="card-text">
            <i class="fas fa-map-marker-alt fa-map-marker-detail"></i>
            31-11 14th St
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
