<!-- Content cover-->
<div class="container">
  <div class="row">
    <div class="col-12 gt3_lst_left_part card_has_author_info">
      <h3 class="label-text-detail ml-4">Africa Tasty</h3>

      <!--<app-slider-detail (rate)="currentRate"></app-slider-detail>-->
      <!--<hr>-->
      <div class="rating-detail ml-4 pt-4">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <!--<pre>Rate: <b>{{currentRate}}</b></pre>-->

      <div class="pt-4">
                    <span class="card-text-detail ml-4">
                        <i class="fas fa-map-marker-alt fa-map-marker-detail"></i>
                        31-11 14th St
                    </span>
        <span class="card-text-detail ml-4">
                        <i class="fas fa-phone fa-phone-detail"></i>
                        +216 50 505 505
                    </span>
        <span class="card-text-detail ml-4">
                        <i class="fas fa-envelope fa-envelope-detail"></i>
                        bon-plan@gmail.com
                    </span>
      </div>
    </div>
    <div class="col-12 save-btn-detail gt3_lst_right_part">
      <button class="btn btn-outline-danger btn-light-detail">
        <i class="far fa-heart"></i>
        save
      </button>
      <button class="btn btn-outline-danger btn-light-detail">
        <i class="fas fa-share-alt"></i>
        share
      </button>
      <button class="btn btn-outline-danger btn-light-detail">
        <i class="far fa-share-square"></i>
        Submit review
      </button>
      <!--<button type="button" class="btn btn-outline-danger btn-secondary-detail">Submit review</button>-->
    </div>
  </div>
</div>
<!--end Content cover-->
