<body class="bg-dark">
<div class="container mb-5">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Register an Account</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <label for="exampleInputName">First name</label>
              <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name"
                     name="firstName" [(ngModel)]="user.firstName">
            </div>
            <div class="col-md-6">
              <label for="exampleInputLastName">Last name</label>
              <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name"
                     name="lastName" [(ngModel)]="user.lastName">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email"
                 name="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <label for="exampleInputPassword1">Password</label>
              <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password"
                     name="password" [(ngModel)]="password">
            </div>
            <div class="col-md-6">
              <label for="exampleConfirmPassword">Confirm password</label>
              <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password"
                     name="confirmPassword" [(ngModel)]="confirmPassword">
            </div>
          </div>
        </div>
        <a class="btn btn-primary btn-block" (click)="onSignUp()">Register</a>
      </form>

      <br><span>{{errorMessage}}</span><br>

      <div class="text-center">
        <a class="d-block small mt-3" routerLink="/login">Login Page</a>
        <a class="d-block small" routerLink="/forgot">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
