<div *ngIf="isLogged;else notLogged">
  <app-header-connected></app-header-connected>
</div>
<ng-template #notLogged>
  <app-header></app-header>
</ng-template>

<router-outlet></router-outlet>
<app-footer></app-footer>

<!--<agm-map [latitude]="lat" [longitude]="lng">-->
  <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--</agm-map>-->

<!--<div class="container">-->

  <!--<div *ngIf="isLogged;else notLogged">-->
    <!--<p>Utilisateur connecté: {{pseudo}} ({{email}})<p>-->
  <!--</div>-->
  <!--<ng-template #notLogged>-->
    <!--<p>Utilisateur NON connecté<p>-->
  <!--</ng-template>-->

<!--</div>-->
