<!-- Content -->
<div class="slider masthead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-5 main-title mt-5">BonPlan is the easly way to find what you want...</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form  #sliderForm="ngForm">
          <div class="form-row">
            <div class="col-12 col-md-5 mb-2 mb-md-0">
              <input type="text" class="form-control form-control-lg" placeholder="What are you looking for!..." id="bonplanName" name="bonplanName"
                     [(ngModel)]="bonplanName" required>
            </div>
            <div class="col-12 col-md-4 mb-2 mb-md-0">
              <input type="text" class="form-control form-control-lg" placeholder="Your location..." autocorrect="off" autocapitalize="off" spellcheck="off"
                     #autocompleteLocation [formControl]="autocompleteLocationControl">
              <button type="submit" class="btn-search-location">
                <i class="fas fa-map-marker-alt"></i>
              </button>
            </div>
            <div class="col-12 col-md-3">
              <button type="button" class="btn btn-block btn-lg btn-primary" (click)="showSearchResultScreen()">Search!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row jumbotron">
      <!--Alignement à droite-->
      <div class="col-2"></div>
      <div class="col-8">
        <div class="categories">
          <div [ngClass]="(category=='Food') ? 'simpleCategoryActive' : 'simpleCategory'"
               (click)="selectCategoryFood()">
            <a href="#">
              <i class="fas fa-utensils"></i>
              <span>Food</span>
            </a>
          </div>
          <div [ngClass]="(category=='Coffee') ? 'simpleCategoryActive' : 'simpleCategory'"
               (click)="selectCategoryCoffee()">
            <a href="#">
              <i class="fas fa-coffee"></i>
              <span>Coffee</span>
            </a>
          </div>
          <div [ngClass]="(category=='Event') ? 'simpleCategoryActive' : 'simpleCategory'"
               (click)="selectCategoryEvent()">
            <a href="#">
              <i class="fas fa-calendar-alt"></i>
              <span>Event</span>
            </a>
          </div>
          <div [ngClass]="(category=='Leisure') ? 'simpleCategoryActive' : 'simpleCategory'"
               (click)="selectCategoryLeisure()">
            <a href="#">
              <i class="fas fa-heart"></i>
              <span>Leisure</span>
            </a>
          </div>
          <div [ngClass]="(category=='Shopping') ? 'simpleCategoryActive' : 'simpleCategory'"
               (click)="selectCategoryShopping()">
            <a href="#">
              <i class="fas fa-shopping-bag"></i>
              <span>Shopping</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--Alignement à droite-->
    <div class="col-2"></div>
  </div>
</div>
<!-- End Content -->
