<body class="bg-dark">
<div class="container mb-5">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <!--<label for="exampleInputEmail1">Email address</label>-->
          <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email"
                 name="email" [(ngModel)]="email">
        </div>
        <div class="form-group">
          <!--<label for="exampleInputPassword1">Password</label>-->
          <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password"
                 name="password" [(ngModel)]="password">
        </div>
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Remember Password</label>
          </div>
        </div>
        <a class="btn btn-primary btn-block" (click)="onLoginEmail()">Login</a>
        <a class="btn btn-danger btn-block" (click)="onLoginGoogle()">Login with Google</a>
        <!--<a class="btn btn-danger btn-block" (click)="loginWithFacebook()">Login with Fb</a>-->
      </form>

      <br><span>{{errorMessage}}</span><br>

      <div class="text-center">
        <a class="d-block small mt-3" routerLink="/register">Register an Account</a>
        <a class="d-block small" routerLink="/forgot">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript-->
</body>
