<!-- Content cover-->
<div class="slider-detail" xmlns:https="http://www.w3.org/1999/xhtml">
  <div class="row">

  </div>
  <div class="container">
    <div class="row">

      <div class="col-12 gt3_lst_left_part card_has_author_info">
        <h3 class="label-text-detail ml-4"> {{bonPlan.name}} </h3>
        <div class="rating-detail ml-4 pt-4">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="pt-4">
                    <span class="card-text-detail ml-4">
                        <i class="fas fa-map-marker-alt fa-map-marker-detail"></i>
                        {{bonPlan.address}}
                    </span>
          <span class="card-text-detail ml-4">
                        <i class="fas fa-phone fa-phone-detail"></i>
                        {{bonPlan.telephone}}
                    </span>
          <span class="card-text-detail ml-4">
                        <i class="fas fa-envelope fa-envelope-detail"></i>

                    </span>
        </div>
      </div>
      <div class="col-12 save-btn-detail gt3_lst_right_part">
        <button class="btn btn-outline-danger btn-light-detail">
          <i class="far fa-heart"></i>
          save
        </button>
        <button class="btn btn-outline-danger btn-light-detail" (click)="facebookShareBonPlan()">
          <i class="fas fa-share-alt"></i>
          share
        </button>
        <button class="btn btn-outline-danger btn-light-detail">
          <i class="far fa-share-square"></i>
          Submit review
        </button>
      </div>
    </div>
  </div>
</div>
<!--end Content cover-->

<!--slide detail-->
<div class="container">
  <div class="row slid-detail pt-4">
    <div class="col-md-9">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item">
            <img class="card-img-top img-fluid taille-img item" src="'{{bonPlan.coverUrl}}'">
          </div>
          <div class="carousel-item">
            <img class="card-img-top img-fluid taille-img" src="{{bonPlan.coverUrl}}">
          </div>
          <div class="carousel-item active">
            <img class="card-img-top img-fluid taille-img" src="{{bonPlan.coverUrl}}">
          </div>
        </div>
        <a class="carousel-control-prev"  role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div *ngFor="let item of comments | async" class="item comment-box">
        <div class="review-detail">
          <div class="card">
            <button onclick="hideShow()" class="card-header" id="nameId">{{item.username}} </button>
            <div class="list-group list-group-flush" id="toggle">
              <li class="list-group-item">
                <blockquote class="blockquote"><h3 class="comment-content">{{item.comment}}</h3></blockquote>
                <br>
                <p>It was written on {{item.date | date: 'dd/MM/yyyy - hh:mm'}}</p>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="white-box mt-4 ">
        <dl class="row">
          <dt class="col-sm-3">Name</dt>
          <dd class="col-sm-9">{{bonPlan.name}}</dd>

          <dt class="col-sm-3">Description lists</dt>
          <dd class="col-sm-9">{{bonPlan.description}}</dd>

          <dt class="col-sm-3">Tag Line</dt>
          <dd class="col-sm-9">{{bonPlan.tagline}}</dd>

        </dl>
      </div>
      <div class="review-detail white-box mt-4 mb-4">
        <h4 class="listing_post_reviews_title col-12">Rate us Please!</h4>
        <dl class="row">
          <section class="rating-widget">
            <label class="rating-stars">Your opinion interests us!</label>
            <div class='rating-stars text-center'>
              <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
              </ul>
            </div>
          </section>

        </dl>
      </div>
      <div *ngIf="isLogged" class="white-box pt-4 mt-4 mb-4">
        <div class="container reviews">
          <label>Write Reviews</label>
          <form action="#">
            <div class="row from-detail">
              <div class="col-6">
                <input type="text" id="fname" name="username" placeholder="Your name.." [(ngModel)]="newComment.username" required>
              </div>
              <div class="col-6">
                <input type="text" id="fadress" name="useremail" placeholder="Your address email..." [(ngModel)]="newComment.useremail" required>
              </div>
            </div>
            <textarea id="subject" name="comment" placeholder="Write something.." style="height:200px" [(ngModel)]="newComment.comment" required></textarea>

            <button class="btn btn-primary btn-primary-detail" type="submit" (click)="submitReview()">Submit your review</button>
            <button class="btn btn-outline-light btn-primary-detail" type="reset">Reset</button>
          </form>
        </div>

      </div>
    </div>
    <div class="col-md-3 white-box mb-4">
      <agm-map [latitude]="bonPlan.latitude" [longitude]="bonPlan.longitude" [zoom]="14" style="width: 100%; height: 200px; border: 0">
        <agm-marker [latitude]="bonPlan.latitude" [longitude]="bonPlan.longitude" [markerDraggable]="false"></agm-marker>
      </agm-map>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-map-marker-alt fa-map-marker-detail"></i>
          <label class="label-detail">31-11 14th St</label>
        </li>
        <li class="list-group-item">
          <i class="fas fa-phone fa-phone-detail"></i>
          <label class="label-detail">+216 50 505 505</label>
        </li>
        <li class="list-group-item">
          <i class="fas fa-envelope fa-envelope-detail"></i>
          <label class="label-detail">bon-plan@gmail.com</label>
        </li>
        <li class="list-group-item item-detail">
          <i class="fab fa-facebook-square" style="color: blue"></i>
          <i class="fab fa-instagram" style="color: deeppink"></i>
          <i class="fab fa-twitter" style="color: #2dabae"></i>
          <i class="fab fa-youtube" style="color: red"></i>
        </li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item pt-5 pb-5">
          <h3 class="title-detail">Recently Added</h3>
          <div class="widget-subtitle pb-2">You may consider</div>

          <img src="https://wplive.site/wp/listingeasy/wp-content/uploads/2017/10/honey_coffee-620x420.jpg" width="100%" height="200">
          <h4 class="post_title">Honey Coffee</h4>
          <p class="card-text">
            <i class="fas fa-map-marker-alt fa-map-marker-detail"></i>
            31-11 14th St
          </p>
        </li>
        <li class="list-group-item pt-5 pb-5">
          <img src="https://wplive.site/wp/listingeasy/wp-content/uploads/2017/10/listing-620x420.jpg" width="100%" height="200">
          <h4 class="post_title">Moonlight Hotel</h4>
          <p class="card-text">
            <i class="fas fa-map-marker-alt fa-map-marker-detail"></i>
            31-11 14th St
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--end slide detail-->


<!-- End Content -->
