<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1 class="number-404">404</h1>
        <h2 class="oops">Oops! Page Not Found</h2>
        <div class="error-details">
          Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
          <a href="index.html" class="btn btn-primary btn-take-me-home btn-lg">
            <i class="fas fa-home"></i>
            Take Me Home
          </a>
          <a href="#" class="btn btn-danger btn-lg">
            <i class="far fa-envelope"></i>
            Contact Support
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
