<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Header -->
<header class="masthead mb-auto cover-container">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
    <a class="navbar-brand my-0 mr-md-auto font-weight-normal" routerLink="/">
      <img src="./img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top img-circle"
           alt="">
      <label class="title-bon-plan">Bon Plan</label>
    </a>
    <div class="my-2 my-md-0 mr-md-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Explore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#footer">How it work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="dropdown pr-2">
        <button class="btn btn-primary fas fa-user dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profil
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    <button class="btn btn-primary" routerLink="/login">Sign In</button>
  </div>
    <!-- End Modal using bootstap-->
</header>
<!-- End Header -->
