<!-- Content-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
      <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="row">
          <div *ngFor="let bonPlan of bonPlans | async" class="col-md-6 pb-5">
            <div class="item ">
              <div class="card">
                <img class="card-img-top img-fluid card-image-listing"
                     src="{{bonPlan.coverUrl}}"
                     alt="Card image cap">
                <div class="card_labels">
                  <span class="card_featured btn btn-primary">featured</span>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{bonPlan.name}}</h4>
                  <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <p class="card-text">
                    <i class="fas fa-map-marker-alt">{{bonPlan.address}}</i>
                    <button type="button" class="btn btn-light" [routerLink]="['/detail', bonPlan.$key]">
                      <i class="far fa-heart"></i>
                      Detail
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->

